In [214]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz, process

/Users/yagopajarino/Documents/uba/limpieza-datos/.venv/lib/python3.12/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [184]:
df = pd.read_excel("descargas/GSAF5.xls")

In [185]:
from xlrd import open_workbook
wb = open_workbook('descargas/GSAF5.xls', formatting_info=True)
sheet = wb.sheet_by_index(0)
bgcol=[]
for row in range(sheet.nrows):
    column = 1
    cell = sheet.cell(row, column)  
    fmt = wb.xf_list[cell.xf_index]
    bgcol.append(fmt.background.pattern_colour_index)

In [186]:
wb.colour_map[64]

In [187]:
set(bgcol)

{8, 18, 26, 42, 43, 44, 47, 53, 64}

In [188]:
# Esto hecho a mano
paleta = {
    8: "Orange",
    18: "Blue",
    26: "Tan",
    42: "Green",
    43: "Tan",
    44: "Blue",
    47: "Tan",
    53: "Orange",
    64: "White"
}

In [189]:
cell_colors = [paleta[x] for x in bgcol]

In [190]:
df["cell_color"] = pd.Series(cell_colors)

In [191]:
map_tipo_incidente = {
    "Tan": "Unprovoked Incidents",
    "Orange": "Provoked Incidents",
    "Green": "Attacks on Boats",
    "Yellow": "Air / Sea Disasters",
    "Blue": "Questionable Incidents",
    "White": "Other"
}

In [192]:
df["tipo_incidente"] = df["cell_color"].map(map_tipo_incidente)

In [193]:
df["tipo_incidente"].value_counts()

tipo_incidente
Unprovoked Incidents      5386
Provoked Incidents         638
Questionable Incidents     586
Attacks on Boats           363
Name: count, dtype: int64

In [194]:
df["Type"].value_counts(dropna=False)

Type
Unprovoked             5135
Provoked                636
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
NaN                      18
Boat                      7
 Provoked                 2
Unconfirmed               1
?                         1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [195]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', 'cell_color',
       'tipo_incidente'],
      dtype='object')

In [196]:
df["Country"].value_counts()

Country
USA                   2551
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
BAHREIN                  1
KOREA                    1
RED SEA?                 1
ASIA?                    1
CEYLON (SRI LANKA)       1
Name: count, Length: 235, dtype: int64

In [197]:
# trim country column
df["Country"] = df["Country"].str.strip()

In [198]:
# uppercase all
df["Country"] = df["Country"].str.upper()

In [200]:
# remove punctuiation
df['Country'] = df['Country'].str.replace(r'[^\w\s&\/]', '', regex=True)

In [201]:
sorted(df["Country"].dropna().unique())

['ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANDAMAN ISLANDS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BETWEEN PORTUGAL & INDIA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH OVERSEAS TERRITORY',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CEYLON SRI LANKA',
 'CHILE',
 'CHINA',
 'COAST OF AFRICA',
 'COLOMBIA',
 'COLUMBIA',
 'COMOROS',
 'COOK ISLANDS',
 'CORAL SEA',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'JORDAN',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MIDPACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOROCCO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'REUNION',
 'REUNION ISLAND',
 'ROATAN',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA BRITISH OVERSEAS TERRITORY',
 'ST KITTS / NEVIS',
 'ST MAARTIN',
 'ST MARTIN',
 'SUDAN',
 'SWEDEN',
 'SYRIA',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TOBAGO',
 'TONGA',
 'TRINIDAD',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TURKS AND CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES UAE',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN']

In [204]:
# leo datos de countries https://github.com/google/dspl/blob/master/samples/google/canonical/countries.csv
countries = pd.read_csv("descargas/countries.csv")

In [213]:
# me quedo con nombre de paises que voy a usar para Levenshtein distance
standardized_countries = set(countries["name"].str.upper().str.strip())

In [217]:
df['Country'].isna().sum()

np.int64(50)

In [219]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', 'cell_color',
       'tipo_incidente'],
      dtype='object')

In [218]:
df[df["Country"].isna()]

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,cell_color,tipo_incidente
702,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,...,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6270.0,NaN,NaN,Tan,Unprovoked Incidents
1168,Aug-2014,2014.0,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,...,2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5803.0,NaN,NaN,Tan,Unprovoked Incidents
3604,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,...,1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3367.0,NaN,NaN,Tan,Unprovoked Incidents
4034,Nov-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,NaN,...,1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2937.0,NaN,NaN,Tan,Unprovoked Incidents
4043,02-Aug-1970,1970.0,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,...,1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2928.0,NaN,NaN,Tan,Unprovoked Incidents
4044,5-Jul-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,male,M,NaN,...,1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2927.0,NaN,NaN,Blue,Questionable Incidents
4051,Apr-1970,1970.0,Provoked,NaN,NaN,NaN,Freediving,Lionel Jarvis,M,NaN,...,1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2920.0,NaN,NaN,Tan,Unprovoked Incidents
4055,5-Feb-1970,1970.0,Unprovoked,NaN,NaN,NaN,Wading,Sally Anne Irvine,F,8,...,1970.02.05-NV-Irvine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.02.05,1970.02.05,2916.0,NaN,NaN,Tan,Unprovoked Incidents
4081,Aug-1969,1969.0,Unprovoked,NaN,NaN,NaN,NaN,Rodney Hughes,M,25,...,1969.08.00-NV-Hughes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.00,1969.08.00,2890.0,NaN,NaN,Tan,Unprovoked Incidents
4261,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,39,...,1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2710.0,NaN,NaN,Tan,Unprovoked Incidents
4317,27-Sep-1964,1964.0,Invalid,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,24,...,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2654.0,NaN,NaN,Tan,Unprovoked Incidents
4674,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,...,1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2297.0,NaN,NaN,Tan,Unprovoked Incidents
4887,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,NaN,...,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2084.0,NaN,NaN,Tan,Unprovoked Incidents
4922,1956,1956.0,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,NaN,...,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2049.0,NaN,NaN,Tan,Unprovoked Incidents
5157,Dec-1949,1949.0,Sea Disaster,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,NaN,...,1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1814.0,NaN,NaN,Tan,Unprovoked Incidents
5298,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,...,1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1673.0,NaN,NaN,Tan,Unprovoked Incidents
5359,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,NaN,...,1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1612.0,NaN,NaN,Orange,Provoked Incidents
5371,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,NaN,...,1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1600.0,NaN,NaN,Tan,Unprovoked Incidents
5385,1942,1942.0,Sea Disaster,NaN,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,male,M,NaN,...,1942.00.00.e-seaman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.e,1942.00.00.e,1586.0,NaN,NaN,Tan,Unprovoked Incidents
5388,1942,1942.0,Watercraft,NaN,NaN,NaN,"Days before the surrender of Singapore, the 3 ...","Bombardier J. Hall, Private Green of the Sherw...",M,NaN,...,1942.00.00.b-Hall-Green-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.b,1942.00.00.b,1583.0,NaN,NaN,Tan,Unprovoked Incidents
5570,Reported 12-Apr-1935,1935.0,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,NaN,...,1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1401.0,NaN,NaN,Blue,Questionable Incidents
5680,Reported 27-Apr-1931,1931.0,Unprovoked,NaN,French Southern Territories,ÃŽle Saint-Paul,"Fishing, boat capsized",Quillezic,M,NaN,...,1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1292.0,NaN,NaN,Green,Attacks on Boats
5720,Reported 09-Dec-1929,1929.0,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,20,...,1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1252.0,NaN,NaN,Tan,Unprovoked Incidents
6086,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,36,...,1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,886.0,NaN,NaN,Tan,Unprovoked Incidents
6247,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,NaN,...,1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,725.0,NaN,NaN,Tan,Unprovoked Incidents
6248,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,male,M,NaN,...,1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,724.0,NaN,NaN,Tan,Unprovoked Incidents
6274,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,...,1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,698.0,NaN,NaN,Tan,Unprovoked Incidents
6298,Reported 13-Jun-1895,1895.0,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,NaN,...,1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,674.0,NaN,NaN,Tan,Unprovoked Incidents
6404,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,NaN,...,1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,568.0,NaN,NaN,Tan,Unprovoked Incidents
6433,Reported 16-Apr-1885,1885.0,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,NaN,...,1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,539.0,NaN,NaN,Tan,Unprovoked Incidents
6471,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,20,...,1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,501.0,NaN,NaN,Tan,Unprovoked Incidents
6473,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,NaN,...,1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,499.0,NaN,NaN,Tan,Unprovoked Incidents
6502,13-Oct-1878,1878.0,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,NaN,...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,470.0,NaN,NaN,Tan,Unprovoked Incidents
6548,Reported 15-Jun-1874,1874.0,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,NaN,...,1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,424.0,NaN,NaN,Tan,Unprovoked Incidents
6583,10-Apr-1869,1869.0,Invalid,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,NaN,...,1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,389.0,NaN,NaN,Tan,Unprovoked Incidents
6659,Reported 20-Nov-1856,1856.0,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,22,...,1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,313.0,NaN,NaN,Tan,Unprovoked Incidents
6664,28-Jul-1855,1855.0,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,NaN,...,1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,308.0,NaN,NaN,Tan,Unprovoked Incidents
6755,Reported 22-Apr-1830,1830.0,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,NaN,...,1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,217.0,NaN,NaN,Tan,Unprovoked Incidents
6782,01-Mar-1811,1811.0,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,NaN,...,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,190.0,NaN,NaN,Tan,Unprovoked Incidents
6794,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,...,1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,178.0,NaN,NaN,Tan,Unprovoked Incidents
6796,Reported May-28-1797,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,176.0,NaN,NaN,Tan,Unprovoked Incidents
6800,05-Jul-1787,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,...,1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,172.0,NaN,NaN,Green,Attacks on Boats
6818,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,...,1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,154.0,NaN,NaN,Tan,Unprovoked Incidents
6830,Reported 1638,1638.0,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,NaN,...,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,144.0,NaN,NaN,Tan,Unprovoked Incidents
6836,1555,1555.0,Unprovoked,NaN,NaN,NaN,Swimming,male,M,NaN,...,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,138.0,NaN,NaN,Tan,Unprovoked Incidents
6842,Ca. 77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,132.0,NaN,NaN,Tan,Unprovoked Incidents
6844,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,...,214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,214BC-Tharsus,214BC,130.0,NaN,NaN,Tan,Unprovoked Incidents
6870,Before 2011,0.0,Provoked,NaN,NaN,NaN,NaN,Phillip Peters,M,NaN,...,ND-0124-Peters.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0124,ND-0124,104.0,NaN,NaN,Tan,Unprovoked Incidents
6877,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,...,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN,Tan,Unprovoked Incidents
6930,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,...,ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44.0,NaN,NaN,Tan,Unprovoked Incidents

In [221]:
# elimino filas sin pais
df.dropna(subset=["Country"], inplace=True)

## Levenshtein distance

Uso una base de datos de nombres de paÃ­ses para calcular la distancia Levenshtein del paÃ­s ingresado

In [222]:
# leo datos de countries https://github.com/google/dspl/blob/master/samples/google/canonical/countries.csv
countries = pd.read_csv("descargas/countries.csv")

In [241]:
countries["name"].sort_values()

2                                       Afghanistan
5                                           Albania
58                                          Algeria
11                                   American Samoa
0                                           Andorra
8                                            Angola
4                                          Anguilla
9                                        Antarctica
3                               Antigua and Barbuda
10                                        Argentina
6                                           Armenia
14                                            Aruba
13                                        Australia
12                                          Austria
15                                       Azerbaijan
29                                          Bahamas
22                                          Bahrain
18                                       Bangladesh
17                                         Barbados
33                                          Belarus
19                                          Belgium
34                                           Belize
24                                            Benin
25                                          Bermuda
30                                           Bhutan
27                                          Bolivia
16                           Bosnia and Herzegovina
32                                         Botswana
31                                    Bouvet Island
28                                           Brazil
103                  British Indian Ocean Territory
233                          British Virgin Islands
26                                           Brunei
21                                         Bulgaria
20                                     Burkina Faso
23                                          Burundi
114                                        Cambodia
44                                         Cameroon
35                                           Canada
49                                       Cape Verde
121                                  Cayman Islands
38                         Central African Republic
209                                            Chad
43                                            Chile
45                                            China
50                                 Christmas Island
36                          Cocos [Keeling] Islands
46                                         Colombia
116                                         Comoros
37                                      Congo [DRC]
39                                 Congo [Republic]
42                                     Cook Islands
47                                       Costa Rica
95                                          Croatia
48                                             Cuba
51                                           Cyprus
52                                   Czech Republic
41                                    CÃ´te d'Ivoire
55                                          Denmark
54                                         Djibouti
56                                         Dominica
57                               Dominican Republic
59                                          Ecuador
61                                            Egypt
205                                     El Salvador
84                                Equatorial Guinea
63                                          Eritrea
60                                          Estonia
65                                         Ethiopia
68                Falkland Islands [Islas Malvinas]
70                                    Faroe Islands
67                                             Fiji
66                                          Finland
71                                           France
76                                    French Guiana
171                                French Polynesia
210                     French Southern Territories
72                                            Gabon
81                                           Gambia
91                                       Gaza Strip
75                                          Georgia
53                                          Germany
78                                            Ghana
79                                        Gibraltar
85                                           Greece
80                                        Greenland
74                                          Grenada
83                                       Guadeloupe
88                                             Guam
87                                        Guatemala
77                                         Guernsey
82                                           Guinea
89                                    Guinea-Bissau
90                                           Guyana
96                                            Haiti
93                Heard Island and McDonald Islands
94                                         Honduras
92                                        Hong Kong
97                                          Hungary
106                                         Iceland
102                                           India
98                                        Indonesia
105                                            Iran
104                                            Iraq
99                                          Ireland
101                                     Isle of Man
100                                          Israel
107                                           Italy
109                                         Jamaica
111                                           Japan
108                                          Jersey
110                                          Jordan
122                                      Kazakhstan
112                                           Kenya
115                                        Kiribati
239                                          Kosovo
120                                          Kuwait
113                                      Kyrgyzstan
123                                            Laos
132                                          Latvia
124                                         Lebanon
129                                         Lesotho
128                                         Liberia
133                                           Libya
126                                   Liechtenstein
130                                       Lithuania
131                                      Luxembourg
144                                           Macau
140                               Macedonia [FYROM]
138                                      Madagascar
152                                          Malawi
154                                        Malaysia
151                                        Maldives
141                                            Mali
149                                           Malta
139                                Marshall Islands
146                                      Martinique
147                                      Mauritania
150                                       Mauritius
241                                         Mayotte
153                                          Mexico
69                                       Micronesia
136                                         Moldova
135                                          Monaco
143                                        Mongolia
137                                      Montenegro
148                                      Montserrat
134                                         Morocco
155                                      Mozambique
142                                 Myanmar [Burma]
156                                         Namibia
165                                           Nauru
164                                           Nepal
162                                     Netherlands
7                              Netherlands Antilles
157                                   New Caledonia
167                                     New Zealand
161                                       Nicaragua
158                                           Niger
160                                         Nigeria
166                                            Niue
159                                  Norfolk Island
118                                     North Korea
145                        Northern Mariana Islands
163                                          Norway
168                                            Oman
174                                        Pakistan
181                                           Palau
179                         Palestinian Territories
169                                          Panama
172                                Papua New Guinea
182                                        Paraguay
170                                            Peru
173                                     Philippines
177                                Pitcairn Islands
175                                          Poland
180                                        Portugal
178                                     Puerto Rico
183                                           Qatar
185                                         Romania
187                                          Russia
188                                          Rwanda
184                                         RÃ©union
195                                    Saint Helena
117                           Saint Kitts and Nevis
125                                     Saint Lucia
176                       Saint Pierre and Miquelon
231                Saint Vincent and the Grenadines
238                                           Samoa
200                                      San Marino
189                                    Saudi Arabia
201                                         Senegal
186                                          Serbia
191                                      Seychelles
199                                    Sierra Leone
194                                       Singapore
198                                        Slovakia
196                                        Slovenia
190                                 Solomon Islands
202                                         Somalia
242                                    South Africa
86     South Georgia and the South Sandwich Islands
119                                     South Korea
64                                            Spain
127                                       Sri Lanka
192                                           Sudan
203                                        Suriname
197                          Svalbard and Jan Mayen
207                                       Swaziland
193                                          Sweden
40                                      Switzerland
206                                           Syria
204                           SÃ£o TomÃ© and PrÃ­ncipe
222                                          Taiwan
213                                      Tajikistan
223                                        Tanzania
212                                        Thailand
215                                     Timor-Leste
211                                            Togo
214                                         Tokelau
218                                           Tonga
220                             Trinidad and Tobago
217                                         Tunisia
219                                          Turkey
216                                    Turkmenistan
208                        Turks and Caicos Islands
221                                          Tuvalu
226                     U.S. Minor Outlying Islands
234                             U.S. Virgin Islands
225                                          Uganda
224                                         Ukraine
1                              United Arab Emirates
73                                   United Kingdom
227                                   United States
228                                         Uruguay
229                                      Uzbekistan
236                                         Vanuatu
230                                    Vatican City
232                                       Venezuela
235                                         Vietnam
237                               Wallis and Futuna
62                                   Western Sahara
240                                           Yemen
243                                          Zambia
244                                        Zimbabwe
Name: name, dtype: object

In [223]:
# me quedo con nombre de paises que voy a usar para Levenshtein distance
standardized_countries = set(countries["name"].str.upper().str.strip())

In [247]:
df["is_valid_country"] = df["Country"].isin(standardized_countries)

In [251]:
df["is_valid_country"].sum() / len(df)

np.float64(0.586595406615629)

In [255]:
df[~df["is_valid_country"]]["Country"].unique()

array(['USA', 'MALDIVE ISLANDS', 'TURKS AND CAICOS', 'TOBAGO', 'TRINIDAD',
       'CORAL SEA', 'ENGLAND', 'COLUMBIA', 'BRITISH OVERSEAS TERRITORY',
       'ST KITTS / NEVIS', 'ST MARTIN', 'REUNION ISLAND',
       'ST HELENA BRITISH OVERSEAS TERRITORY', 'REUNION',
       'ATLANTIC OCEAN', 'TRINIDAD & TOBAGO', 'DIEGO GARCIA', 'SCOTLAND',
       'ANTIGUA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES UAE', 'AZORES',
       'NEVIS', 'GULF OF ADEN', 'ST MAARTIN', 'GRAND CAYMAN',
       'CARIBBEAN SEA', 'OKINAWA', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'NORTH ATLANTIC OCEAN', 'SOUTH CHINA SEA',
       'WESTERN SAMOA', 'PACIFIC OCEAN', 'BRITISH ISLES', 'NEW BRITAIN',
       'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'NORTH SEA', 'ANDAMAN / NICOBAR ISLANDAS', 'THE BALKANS',
       'INDIAN OCEAN', 'IRAN / IRAQ', 'JAVA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MIDPACIFC OCEAN', 'CURACAO', 'ITALY / CROATIA',
       'SAN DOMINGO', 'FALKLAND ISLANDS', 'CRETE', 'WEST INDIES', 'BURMA',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'AFRICA', 'COAST OF AFRICA',
       'TASMAN SEA', 'MEDITERRANEAN SEA', 'ROATAN',
       'BETWEEN PORTUGAL & INDIA', 'BAHREIN', 'KOREA', 'ASIA',
       'CEYLON SRI LANKA'], dtype=object)

In [254]:
threshold = 75

def map_country_name(value, choices):
    if value[1]:
        return value[0]
    best_match, score = process.extractOne(value[0], choices, scorer=fuzz.token_sort_ratio)
    return best_match if score >= threshold else value[0]  # Adjust the threshold as needed

# Apply the function to the "country" column
df['country_standardized'] = df[['Country', "is_valid_country"]].apply(lambda x: map_country_name(x, standardized_countries), axis=1)

/var/folders/gf/9p2mg5dd6pl1j3xx9354sj7r0000gp/T/ipykernel_1364/2370500645.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if value[1]:
/var/folders/gf/9p2mg5dd6pl1j3xx9354sj7r0000gp/T/ipykernel_1364/2370500645.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return value[0]
/var/folders/gf/9p2mg5dd6pl1j3xx9354sj7r0000gp/T/ipykernel_1364/2370500645.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  best_match, score = process.extractOne(value[0], choices, scorer=fuzz.token_sort_ratio)
/var/folders/gf/9p2mg5dd6pl1j3xx9354sj7r0000gp/T/ipykernel_1364/2370500645.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return best_match if score >= threshold else value[0]  # Adjust the threshold as needed

In [256]:
df["no_coincide"] = df["Country"] != df["country_standardized"]

In [257]:
# pandas display all rows
pd.set_option('display.max_rows', None)

In [258]:
df[df["no_coincide"]][["Country", "country_standardized"]].drop_duplicates()

                           Country            country_standardized
19                TURKS AND CAICOS        TURKS AND CAICOS ISLANDS
22                          TOBAGO                            TOGO
178                        ENGLAND                       GREENLAND
222                       COLUMBIA                        COLOMBIA
265     BRITISH OVERSEAS TERRITORY  BRITISH INDIAN OCEAN TERRITORY
349               ST KITTS / NEVIS           SAINT KITTS AND NEVIS
770                        REUNION                         RÃ‰UNION
1226             TRINIDAD & TOBAGO             TRINIDAD AND TOBAGO
1569      UNITED ARAB EMIRATES UAE            UNITED ARAB EMIRATES
2184                  GRAND CAYMAN                  CAYMAN ISLANDS
3988                 WESTERN SAMOA                  WESTERN SAHARA
4297                    NEW GUINEA                PAPUA NEW GUINEA
5355     SOLOMON ISLANDS / VANUATU                 SOLOMON ISLANDS
5938                   SAN DOMINGO                      SAN MARINO
6622               ANDAMAN ISLANDS                  CAYMAN ISLANDS
6641  EQUATORIAL GUINEA / CAMEROON               EQUATORIAL GUINEA
6821                        ROATAN                         CROATIA
6886                       BAHREIN                         BAHRAIN